<template>
    <div></div>
</template>
<script>
    import axios from 'axios'

    export default {
        name: 'exit',
        created: function () {
            this.logout();
        },
        methods: {
            logout: function () {
                let $this = this;
                this.$store.dispatch('auth/logout').then(function () {
                    $this.$router.push({ path: '/', name: 'Login'});
                }).catch(function () {
                    $this.$router.push({ path: '/', name: 'Login'});
                });
            }
        }
    }

</script>
