<template>
  <div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading">Вход в систему</h2>
      <label for="inputUsername" class="sr-only">Имя пользователя</label>
      <input id="inputUsername" class="form-control" placeholder="Имя пользователя" required="" autofocus="" v-model="username">
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" v-model="password">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Запомнить
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" @click="login">Войти</button>
      <p class="has-error" v-if="auth.is_error">Неверный логин или пароль</p>
      <a href="">Забыли пароль</a><br>
      <p>Нет аккаунта</p>
      <!--<button class="btn btn-lg btn-primary btn-block">Sign up</button>-->
      <router-link :to="{ name: 'SignUp', params: { post_id: 0 }}" class="btn btn-lg btn-primary btn-block">Зарегистрироваться</router-link>
    </form>

  </div>
</template>

<script>
export default {
  name: 'login',
  data: function () {
    return {
      username: '',
      password: '',
    }
  },
  created: function () {
    this.redirect_if_logged();
  },
  watch: {
    user_id: function () {
      this.redirect_if_logged();
    }
  },
  computed: {
    auth: function () {
      return this.$store.state.auth;
    },
    user_id: function () {
      return this.auth.user.pk;
    }
  },
  methods: {
    login: function () {
      this.$store.dispatch('auth/login', {
        username: this.username,
        password: this.password
      });
    },
    redirect_if_logged: function () {
      if (this.user_id > 0) {
        this.$router.push({ name: 'Blog', params: { page: 1 }});
      }
    }
  }
}
</script>

<style scoped>
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
