<template>
    <div>
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <router-link :to="{ name: 'Login' }" class="blog-nav-item active">Главная</router-link>
                    <router-link :to="{ name: 'Blog' }" class="blog-nav-item active">Блог</router-link>
                    <router-link :to="{ name: 'NewPost' }" class="blog-nav-item active">Новый пост</router-link>
                    <router-link :to="{ name: 'Exit' }" class="blog-nav-item active">Выход</router-link>
                </nav>
            </div>
        </div>

        <div class="container">

            <div class="blog-header">
                <h1 class="blog-title">The Bootstrap Blog</h1>
                <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
            </div>

            <div class="row">

                <div class="col-sm-8 blog-main">

                    <div class="blog-post">
                        <div class="blog-post-title">
                            <input class="blog-post-title" v-model="title" name="Заголовок поста" autofocus/>
                        </div>
                        <!--<p class="blog-post-meta">{{ post.date_created | moment | moment("dddd, MMMM Do YYYY") }} by <a href="#">{{ post.author.username }}</a></p>-->

                        <textarea v-model="shorts" cols="54" rows="3"> </textarea>
                        <hr>
                        <textarea v-model="content" cols="54" rows="10"> </textarea>

                    </div><!-- /.blog-post -->

                    <nav>
                        <ul class="pager">
                            <li>
                                <router-link :to="{ name:'Blog'}">назад</router-link>
                            </li>
                            <li>
                                <a @click="new_post">+ пост</a>
                            </li>
                        </ul>
                    </nav>

                </div><!-- /.blog-main -->

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Etiam porta <em>sem malesuada magna</em>
                            mollis euismod. Cras mattis consectetur purus sit amet
                            fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>
                    <div class="sidebar-module">
                        <h4>Archives</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>
                            <li><a href="#">September 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                            <li><a href="#">July 2013</a></li>
                            <li><a href="#">June 2013</a></li>
                            <li><a href="#">May 2013</a></li>
                            <li><a href="#">April 2013</a></li>
                        </ol>
                    </div>
                    <div class="sidebar-module">
                        <h4>Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </div><!-- /.container -->

        <footer class="blog-footer">
            <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by
                <a href="https://twitter.com/mdo">@mdo</a>.
            </p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'newpost',
        data: function () {
            return {
                title: '',
                shorts: '',
                content: '',
            }
        },
        methods: {
            new_post: function () {
                let token = this.$store.state.auth.token;
                axios.post('http://178.62.10.209:60080/api/v1/blogs/', {
                    content: this.content,
                    short: this.shorts,
                    title: this.title
                }, {
                    headers: {
                        'Authorization': 'Token ' + token
                    }
                }).then(response => {
                    console.log(response);
                    this.$router.push({ name: 'Post', params: { post_id: response.data.id }});
                })
                    .catch(error => {
                        console.log(error)
                    });
            }
        }
    }

</script>


<style>
    /*
   * Globals
   */

    body {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #555;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin-top: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #333;
    }

    /*
     * Override Bootstrap's default container.
     */

    @media (min-width: 1200px) {
        .container {
            width: 970px;
        }
    }

    /*
     * Masthead for nav
     */

    .blog-masthead {
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
        box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    }

    /* Nav links */
    .blog-nav-item {
        position: relative;
        display: inline-block;
        padding: 10px;
        font-weight: 500;
        color: #cdddeb;
    }

    .blog-nav-item:hover,
    .blog-nav-item:focus {
        color: #fff;
        text-decoration: none;
    }

    /* Active state gets a caret at the bottom */
    .blog-nav .active {
        color: #fff;
    }

    .blog-nav .active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        content: " ";
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
    }

    /*
     * Blog name and description
     */

    .blog-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .blog-title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: normal;
    }

    .blog-description {
        font-size: 20px;
        color: #999;
    }

    /*
     * Main column and sidebar layout
     */

    .blog-main {
        font-size: 18px;
        line-height: 1.5;
    }

    /* Sidebar modules for boxing content */
    .sidebar-module {
        padding: 15px;
        margin: 0 -15px 15px;
    }

    .sidebar-module-inset {
        padding: 15px;
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }

    /* Pagination */
    .pager {
        margin-bottom: 60px;
        text-align: left;
    }

    .pager > li > a {
        width: 140px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 30px;
    }

    /*
     * Blog posts
     */

    .blog-post {
        margin-bottom: 60px;
    }

    .blog-post-title {
        margin-bottom: 5px;
        font-size: 40px;
    }

    .blog-post-meta {
        margin-bottom: 20px;
        color: #999;
    }

    /*
     * Footer
     */

    .blog-footer {
        padding: 40px 0;
        color: #999;
        text-align: center;
        background-color: #f9f9f9;
        border-top: 1px solid #e5e5e5;
    }

    .blog-footer p:last-child {
        margin-bottom: 0;
    }
</style>
