<template>
  <div class="container">

    <form class="form-signup">
      <h2 class="form-signup-heading">Регистрация</h2>
      <label for="inputUsername" class="sr-only">Имя пользователя</label>
      <input id="inputUsername" class="form-control" placeholder="Имя пользователя" required="" autofocus="" v-model="username">
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" class="form-control" placeholder="E-mail" required="" autofocus="" v-model="email">
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" v-model="password">
      <label for="RePassword" class="sr-only">Пароль</label>
      <input type="password" id="RePassword" class="form-control" placeholder="Повторите пароль" required="" v-model="repassword">

      <!--<button class="btn btn-lg btn-primary btn-block">Sign in</button>-->
      <button class="btn btn-lg btn-primary btn-block" v-on:click = "SignUp">Зарегистрироваться</button>
      <!--<router-link :to="{ name: 'SignUp', params: { post_id: 0 }}" class="btn btn-lg btn-primary btn-block">Зарегистрироваться</router-link>-->
      <!--<a href="">Do you forgot password?</a><br>-->
      <!--<button class="btn btn-lg btn-primary btn-block">Sign up</button>-->
      <router-link :to="{ name: 'Login', params: { post_id: 1 }}" class="btn btn-lg btn-primary btn-block">Войти</router-link>
    </form>

  </div>
</template>

<script>
    import axios from 'axios'
export default {
  name: 'SignUp',
  data: function () {
    return {
      username: '',
      email: "",
      password: "",
      repassword: ""
    }
  },
  methods:{
  SignUp: function () {
      axios.post('http://178.62.10.209:60080/api/v1/auth/registration/',{
          username: this.username,
          email: this.email,
          password1: this.password,
          password2: this.repassword
      }).then(response => {
          console.log(response)
      })
          .catch(error => {
              console.log(error)
          });
  }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup .checkbox {
    font-weight: normal;
  }
  .form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="password"] {
    /*margin-bottom: 10px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
