<template>
  <div>
      <div class = frame>
        <h1>Post #{{ post.id }} <strong>{{post.title}}</strong> (author: {{ post.userId }})</h1>
        <h3>{{post.body}}</h3>
        <hr />
      </div>
      <p class="form"><router-link :to="{ name: 'Blog' }" class="btn btn-lg btn-primary btn-block">Назад</router-link></p>

    <ul v-if="posts && posts.length">
      <li v-for="post in posts">
        <p><strong>{{post.title}}</strong> (author: {{ post.userId }})</p>
        <p>{{post.body}}</p>
        <hr />
      </li>
    </ul>
    <ul v-if="errors && errors.length">
      <li v-for="error in errors">
        {{error.message}}
      </li>
    </ul>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    data: () => ({
      post: {},
      posts: [],
      errors: [],
    }),

    // Fetches posts when the component is created.
    created() {
      console.log(this.$route);
      let post_id = this.$route.params.post_id;
      axios.get('http://jsonplaceholder.typicode.com/posts/' + post_id )
        .then(response => {
          // JSON responses are automatically parsed.
          this.post = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })

      // async / await version (created() becomes async created())
      //
      // try {
      //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
      //   this.posts = response.data
      // } catch (e) {
      //   this.errors.push(e)
      // }
    }
  }
</script>
<style scoped>
  body {margin: 0; padding: 0}
  .frame {
    margin: 55px;
    border: 6px solid green;
    padding: 45px;
  }
  .form {
    max-width: 330px;
    padding: 15px;
    margin: 0;
  }
</style>
